__pycache
build/
.eggs/
*.egg-info/
*#
*.#*
_build/

node_modules/

.DS_Store

*.pyc

.idea/

docker/.env.dev
docker/.env.prod

.egg

dist/

package-lock.json

docker/secrets.env

dps_manager/db.sqlite3

dps_ui/.env

docker/dps_manager/prod.override.env