.CodeMirror {
    font-size: 16pt;
    max-height: 150pt;
}

.code .CodeMirror {
    font-size: 12pt;
    max-height: 40pt;
    max-width: 400pt;
}

.quill .ql-editor {
    min-height: 6em;
}

.editor-error {
    border: 1px solid red;
}

.editor-error-thick {
    border-bottom: 2px solid red;
}

.editor-error-text {
    color: red;
}
