.CodeMirror {
    font-size: 16pt;
    max-height: 150pt;
}

.code .CodeMirror {
    font-size: 12pt;
    max-height: 40pt;
    max-width: 400pt;
}

.quill .ql-editor {
    min-height: 6em;
}

.editor-error {
    border: 1px solid red;
}

.editor-error-thick {
    border-bottom: 2px solid red;
}

.editor-error-text {
    color: red;
}

.system-description p:first-child {
    padding: 0;
    margin: 0;
}


/* Login page */
.login-form
{
    justify-content: center;
    min-height: 90vh;
}
.button-block{
    width: 100%;
}
.login-background
{
    display: grid;
    justify-content: center;
    min-height: 30vh;
    padding: 50px;
}
