body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-kpi thead {
    background: lightgray;
}
table.table-kpi {
  border-collapse: collapse;
}
table.table-kpi, .table-kpi td, .table-kpi th {
  border: 1px solid gray;
}
.table-kpi tbody tr:nth-child(even) {background-color: #f2f2f2;}